.menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 38px 0;

   &-logo {
      width: 202px;
      height: 64px;

      a img {
         width: 100%;
      }
   }

   &-wrapper {
      display: flex;
      justify-content: center;
      transition: transform 0.3s ease;
   }

   &-list {
      width: 348px;
      display: flex;
      justify-content: space-between;
   }

   &__item {
      position: relative;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      transition: color 0.3s ease, transform 0.3s ease;

      a {
         color: inherit;
         text-decoration: none;
      }

      &:hover {
         color: #4b6bfb;
         transform: translateY(-3px);
      }

      &::before {
         content: '';
         position: absolute;
         width: 100%;
         height: 2px;
         border-radius: 4px;
         background-color: #4b6bfb;
         bottom: -5px;
         left: 0;
         transform-origin: right;
         transform: scaleX(0);
         transition: transform 0.3s ease-in-out;
      }

      &:hover::before {
         transform-origin: left;
         transform: scaleX(1);
      }
   }
}

.close-menu-icon {
   position: absolute;
   top: 20px;
   right: 20px;
   width: 30px;
   height: 30px;
   cursor: pointer;
   z-index: 11;
}

.hamburger {
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 30px;
   height: 22px;
   cursor: pointer;

   .hamburger-line {
      width: 100%;
      height: 3px;
      background-color: #fff;
      transition: all 0.3s ease;
   }

   &.open .hamburger-line:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
   }

   &.open .hamburger-line:nth-child(2) {
      opacity: 0;
   }

   &.open .hamburger-line:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
   }
}

@media (max-width: 768px) {
   .menu-wrapper {
      display: flex;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      transform: translateX(-100%);
      transition: transform 0.3s ease;
      z-index: 10;
      align-items: center;

      &.open {
         transform: translateX(0);
      }
   }

   .no-scroll {
      overflow: hidden;
   }

   .menu-list {
      flex-direction: column;
      width: auto;
   }

   .menu__item {
      margin: 16px 0;
   }

   .hamburger {
      display: flex;
   }

   .menu-logo {
      width: 150px;
      height: auto;
   }
}
